<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RatingHub</title>
    <base href="/">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <header >
        <h2>
            MovieRater.com
        </h2>
        <div class="options">
            <a href="/">
                <p>Home</p>
            </a>
            <div id="genre">
                <p>
                    Genre
                </p>
                <div id="opts">
                    <p><a href="/genre/romantic">Romance</a></p>
                    <p><a href="/genre/action">Action</a></p>
                    <p><a href="/genre/horror">Horror</a></p>
                    <p><a href="/genre/drama">Drama</a></p>
                    <p><a href="/genre/comedy">Comedy</a></p>
                    <p><a href="/genre/scifi">Science Fiction</a></p>
                </div>
            </div>
            <a href="/sortby">
                <p id="sortby">SortBy</p>
            </a>
        </div>
    </header>